<h1>商品一覧</h1>

<% @products.each do |product| %>
<p>
    <%= link_to product.name%><%= "　　値段：#{product.price}"%>
    <%= link_to 'カートに追加', cart_items_path(product_id: product.id), method: :post %>
    <%= link_to '商品削除', "products/#{product.id}", method: :delete %>
</p>
<% end %>