<h1>商品登録</h1>
<%= form_for @product , name: {action: :create} do |f| %>
<%= f.label :name, '商品名' %>
<%= f.text_field :name %>
<%= f.label :price, '値段' %>
<%= f.text_field :price %>

<%= f.submit '登録' %>
<% end %>

